#### **Tuples**
- A tuple is a collection of objects which is ordered & immutable i.e. we cannot add or change the elements of a tuple.
- Tuples consists of elements having different data type enclosed in round brackets separated by comma. Eg : my_tuple = (1, 2.34, True, "New York")
- Since tuple are immutable, iterating thorugh a tuple is slightly faster than with list.
- Tuples with their immutable lements can be used as key for a dictionary which is not possible with lists.

##### Creating a Tuple

In [1]:
# creating tuple using parentheses.
tuple_1 = ("Max", 28, "New York", 3.45, True)
# creating tuple without using parentheses.
tuple_2 = "Max", 28, "New York", 3.45, True
# creating tuple by converting an iterable(list, dict, string) using the tuple() function.
tuple_3 = tuple(["Max", 28, "New York", 3.45, True])
# special case : a tuple with only one element needs to have a comma at the end, otherwise it will not be recognized as a tuple.
tuple_4 = (25,)
print(tuple_1)
print(type(tuple_1))
print(tuple_2)
print(type(tuple_2))
print(tuple_3)
print(type(tuple_3))
print(tuple_4)
print(type(tuple_4))

('Max', 28, 'New York', 3.45, True)
<class 'tuple'>
('Max', 28, 'New York', 3.45, True)
<class 'tuple'>
('Max', 28, 'New York', 3.45, True)
<class 'tuple'>
(25,)
<class 'tuple'>

##### Acessing elements of a Tuple

In [5]:
# accessing the tuple lements by referring to the index number, the indices start at 0.
my_tuple = ("Max", 28, "New York", 3.45, True)
print(my_tuple[0])
print(my_tuple[3])

# using negative indexing to access the tuple elements, -1 refers to the last element, -2 to the second last & so on.
print(my_tuple[-1]) 
print(my_tuple[-3])

Max
3.45
True
New York

##### Slicing of a Tuple

In [10]:
# accesing sub-parts of the tuple with the use of colon(:), just as with strings & lists.
# variable[start index:end index:step] Note that the end index is not included.
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(my_tuple[1:4]) # index number 4 is not included.
print(my_tuple[2:]) # until the end.
print(my_tuple[:4]) # from begiining till index position 3.
print(my_tuple[::2]) # start to end with very second item.
print(my_tuple[::-1]) # reversing the tuple.

(2, 3, 4)
(3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4)
(1, 3, 5, 7, 9)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

##### Deleting a Tuple

In [14]:
# deleting a tuple using del keyword.
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
del my_tuple
# print(my_tuple) NameError: name 'my_tuple' is not defined.

##### Iterating over a Tuple

In [25]:
# iterating over a tuple using for in loop.
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
for i in my_tuple:
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [26]:
# returning the index position along with the element using enumerate() function.
for i in enumerate(my_tuple):
    print(i, end=" ")

(0, 1) (1, 2) (2, 3) (3, 4) (4, 5) (5, 6) (6, 7) (7, 8) (8, 9) (9, 10)

In [20]:
# iterating over a tuple using range() function.
for i in range(len(my_tuple)):
    print(i, my_tuple[i])

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

##### Tuple membership test

In [24]:
# check if an element exists in a tuple or not.
my_tuple = ("Max", 28, "New York", 3.45, True)
print("New York" in my_tuple)
print(59 in my_tuple)
print("US" not in my_tuple)

True
False
True

##### Useful Tuple methods

In [31]:
my_tuple = ('a','p','p','l','e')

# len() : returns the number of elements in a tuple.
print(len(my_tuple))

# count() : returns the number of occurrences of a particular element. 
print(my_tuple.count('p'))

# index() : returns the index position of the first occurrence of an element.
print(my_tuple.index('l'))

5
2
3

In [33]:
# repetition of elements in a tuple using * operator.
my_tuple = ('a', 2) * 5
print(my_tuple)

# tuple concatenation using + operator.
my_tuple = (1, 2, 3) + (4, 5, 6)
print(my_tuple)

('a', 2, 'a', 2, 'a', 2, 'a', 2, 'a', 2)
(1, 2, 3, 4, 5, 6)

In [36]:
# converting list to a tuple & vice versa.
my_list = ['a', 'b', 'c', 'd']
list_to_tuple = tuple(my_list)
print(list_to_tuple)
print(type(list_to_tuple))
tuple_to_list = list(list_to_tuple)
print(tuple_to_list)
print(type(tuple_to_list))

('a', 'b', 'c', 'd')
<class 'tuple'>
['a', 'b', 'c', 'd']
<class 'list'>

In [37]:
# converting string to a tuple
string_to_tuple = tuple("Sarvesha")
print(string_to_tuple)
print(type(string_to_tuple))

('S', 'a', 'r', 'v', 'e', 's', 'h', 'a')
<class 'tuple'>

##### Unpacking Tuple

In [38]:
# number of variables have to match the number of tuple elements
my_tuple = ("Max", 28, "New York")
name, age, city = my_tuple
print(name)
print(age)
print(city)

Max
28
New York

In [39]:
# unpack multiple elements to a list with *
my_tuple = ('a', 'b', 'c', 'd', 'e')
item_first, *items_between, item_last = my_tuple
print(item_first)
print(items_between)
print(item_last)

a
['b', 'c', 'd']
e

##### Nested Tuples

In [45]:
# tuples can contain other tuples (or other container types).
my_tuple = ((1, 2), ('age', 'height'), (True, False), (3.14, 6.28))
print(my_tuple)
print(my_tuple[1])
print(my_tuple[1][0])
print(my_tuple[1:3])
print(my_tuple[1:3][1])
print(my_tuple[1:3][1][0])

((1, 2), ('age', 'height'), (True, False), (3.14, 6.28))
('age', 'height')
age
(('age', 'height'), (True, False))
(True, False)
True