#### **Loops in Python**
- Looping / Iteration is the process of performing a ceratin of actions repeteadly until a certain condition is fulfilled.
- The iteration statements are also known as Loops or Looping statements.
- There are two types of iterations or loops in Python : **While Loop & For Loop**.

##### range() function
- This function returns a sequence of numbers, starting from 0 by default & increments by 1 by default & stops before a specified number.
- Syntax : **range(Start, Stop, Step)**. Value specified as a stop argument is not included.
- eg : range(10) will generate values from 0 to 9, range(5, 10) generates values from 5 to 9, range (5, 15, 3) generates values from 5 to 14 in a step of 3 i.e. 5, 8, 11, 14.

##### for loop
- It is generally used in case we know beforehand on how many times iterations are required.
- for loop is basically designed in order to iterate over a sequence of items.
- the sequence of items can be a range of numbers, list, tuple, string or a dictionary.
- for loop processes the items of any sequence one by one.

In [61]:
# syntax of a for loop.
'''
for variable in <sequence>:
    statement(s) to repeat
'''
# <sequence> determines how many times the loop will get repeated.
# inside the loop the variable is assigned a first value in the sequence & all the statements in the body of for loop are executed with that assigned value.
# next the loop variable is assigned a next value from the sequence & agin the statements in the body of for loop are executed with that new value.
# this is repeated until all the values in the sequence are processed.

# using a for loop for iterating over a range of numbers.
for i in range(5):
    print(i)

for i in range(1, 10, 2):
    print(i, end=" ")

# for loop can also be used in conjunction with else statement.
for i in range(5):
    print(i)
else:
    print("All items done..!!")

0
1
2
3
4
1 3 5 7 9 0
1
2
3
4
All items done..!!

In [14]:
# we can also perform some basic aritmetic operations while iterating through a range of numbers.
for i in range(5, 10): 
    print(i * 2)

for i in range(1, 10): 
    print(i + 5)   

for i in range(10, 21):
    print(i / 2)

10
12
14
16
18
6
7
8
9
10
11
12
13
14
5.0
5.5
6.0
6.5
7.0
7.5
8.0
8.5
9.0
9.5
10.0

In [13]:
# using a for loop for iterating over a string.
my_str = "Rahul"
for i in my_str:
    print(i)

# we can also return the corresponding index positions along with the elements using the enumerate() function.
my_str = "Rahul Arora"
for i in enumerate(my_str):  # this will return tuples containing the index, value pair for each element of the string.
    print(i)

R
a
h
u
l
(0, 'R')
(1, 'a')
(2, 'h')
(3, 'u')
(4, 'l')
(5, ' ')
(6, 'A')
(7, 'r')
(8, 'o')
(9, 'r')
(10, 'a')

In [16]:
# using a for loop for iterating over a list.
my_list = [10, 20, 30, 40, 50]
for i in my_list:
    print(i)

# we can also return the corresponding index positions along with the elements using the enumerate() function.
my_list = [10, 20, 30, 40, 50]
for i in enumerate(my_list):  # this will return tuples containing the index, value pair for each element of the list.
    print(i)

10
20
30
40
50
(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)

In [23]:
# using a for loop for iterating over a dictionary.
my_dict = {"Name": "Rahul",
           "Age" : 37,
           "Gender": "Male",
           "Country": "India"}

for key in my_dict:
    print(key, my_dict[key])

for key in my_dict.keys():
    print(key)

for value in my_dict.values():
    print(value)

for key, value in my_dict.items():
    print(key, value)

Name Rahul
Age 37
Gender Male
Country India
Name
Age
Gender
Country
Rahul
37
Male
India
Name Rahul
Age 37
Gender Male
Country India

##### Nested for Loop
- A loop containing another loop inside its body.
- In a nested loop, the innermost loop must terminate before the outer loop.
- For each value of the outer loop, the inner loop will be executed.

In [31]:
# let us see an example.
for i in range(1, 5):
    for j in range(1, 4):
        print(i, j)

# we can also display the values horizontally.
for i in range(1, 5):
    for j in range(1, 4):
        print(i, j, end=" ")

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3
4 1
4 2
4 3
1 1 1 2 1 3 2 1 2 2 2 3 3 1 3 2 3 3 4 1 4 2 4 3

In [47]:
# this time let us create a multiplication table for numbers from 1 to 10.
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}", end= "\t")
    print()

1 x 1 = 1	1 x 2 = 2	1 x 3 = 3	1 x 4 = 4	1 x 5 = 5	1 x 6 = 6	1 x 7 = 7	1 x 8 = 8	1 x 9 = 9	1 x 10 = 10
2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18	2 x 10 = 20
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27	3 x 10 = 30
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36	4 x 10 = 40
5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25	5 x 6 = 30	5 x 7 = 35	5 x 8 = 40	5 x 9 = 45	5 x 10 = 50
6 x 1 = 6	6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 5 = 30	6 x 6 = 36	6 x 7 = 42	6 x 8 = 48	6 x 9 = 54	6 x 10 = 60
7 x 1 = 7	7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 5 = 35	7 x 6 = 42	7 x 7 = 49	7 x 8 = 56	7 x 9 = 63	7 x 10 = 70
8 x 1 = 8	8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 5 = 40	8 x 6 = 48	8 x 7 = 56	8 x 8 = 64	8 x 9 = 72	8 x 10 = 80
9 x 1 = 9	9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 5 = 45	9 x 6 = 54	9 x 7 = 63	9 x 8 = 72	9 x 9 = 81	9 x 10 = 90
10 x 1 = 10	10 x 2 = 20	10 x 3 = 30	10 x 4 = 40	10 x 5 = 50	10 x 6 = 60	10 x 7 = 70	10 x 8 = 80	10 x 9 = 90	10 x 10 = 100

In [50]:
# let us take another example.
for a in range(2, 7):
    for b in range(1, a):
        print(a, b, end=" ")
    print()

2 1
3 1 3 2
4 1 4 2 4 3
5 1 5 2 5 3 5 4
6 1 6 2 6 3 6 4 6 5

In [90]:
# let us use the above example to create a pattern.
for a in range(2, 7):
    for b in range(1, a):
        print('*', end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [94]:
# let us create the reverse of the above pattern.
for a in range(6, 1, -1):
    for b in range(1, a):
        print('*', end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

##### Some more examples on application of for loop.

In [63]:
# to find the sum of all numbers that are stored in a list.
my_list = list(range(1, 11))
print(my_list)

sum = 0
for i in my_list:
    sum += i
print("Sum:", sum)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Sum: 55

In [70]:
# to iterate through elements in a list by using indexing.
my_list = "Sapna Sarvesha Python".split()
print(my_list)

for i in range(len(my_list)):
    print("I love", my_list[i])

['Sapna', 'Sarvesha', 'Python']
I love Sapna
I love Sarvesha
I love Python

In [77]:
# to count the number of a particular character in a string.
my_str = "Hello, how are you, my name is Rahul Arora"
char = input("Enter the character:")
my_str = my_str.casefold()
count = {}.fromkeys(char, 0)
for char in my_str:
    if char in count:
        count[char] += 1
print(count)

{'a': 5}

In [83]:
# to find the factorial of a number.
num = int(input("Enter the number:"))
fact = 1
for i in range(1, num + 1):
    fact *= i
print(f"The factorial of {num} is {fact}")

The factorial of 5 is 120

##### break statement
- The break statement terminates the loop in which it is contained & the control goes to the statement immediately after the body of the loop.
- In case the break statement is inside a nested loop then it will terminate the innermost loop.

In [20]:
# let us see through some examples.
for i in range(1, 10):
    if i == 7:  # here the loop is terminated as soon as the if conditions is satisfied.
        break
    else:    
        print(i)

my_str = "Superior"
for i in my_str:
    if i == "i":
        break
    else:
        print(i)   

my_list = "Hello my name is Rahul Arora".split()
for i in my_list:
    if i == 'is':
        break
    print(i)

1
2
3
4
5
6
S
u
p
e
r
Hello
my
name

In [8]:
# here is an example showcasing application of break statement in a for loop.
# to get all the prime numbers from a certain range of numbers.
n1 = 100
n2 = 150
for num in range(n1, n2 + 1):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num)

101
103
107
109
113
127
131
137
139
149

##### continue statement
- The continue statement skips the rest of the code inside a loop for the given iteration only.
- Here the loop doesn't terminate rather continues on with the next iteration.

In [19]:
# let us see through some examples.
for i in range(1, 6):
    if i == 3:  # here the loop continues after skipping the iteration at 3.
        continue
    else:    
        print(i)

my_str = "Rahul"
for i in my_str:
    if i == "h":
        continue
    else:
        print(i)

my_list = "Hello my name is Rahul Arora".split()
for i in my_list:
    if i == 'name':
        continue
    print(i)

1
2
4
5
R
a
u
l
Hello
my
is
Rahul
Arora

##### pass statement
- The pass statement is basically a null statement & nothing happens when the pass statement is executed inside a loop.

In [21]:
# let us see through some examples.
for i in range(1, 6):
    pass   

my_str = "Rahul"
for i in my_str:
    pass

my_list = "Hello my name is Rahul Arora".split()
for i in my_list:
    pass