#### **Variables & Operators in Python**

##### Operators in Python
- The operators in Python are broadly classified into following categories i.e. **Arithmetic, Assignment, Comparison & Logical**.

##### Arithmetic Operators
- The various arithmetic operators supported by Python include : addition('+'), subtraction('-'), Multiplication('*'), Division('/'), Floor Division('//'), Modulo('%') & Exponent('**').

In [2]:
# here are a few examples.
print(10 + 2)  # returns the sum of two numbers.
print(10 - 2)  # returns the difference of two numbers.
print(10 * 2)  # returns the product of two numbers.
print(10 / 2)  # returns a float value as the result.
print(10 // 2) # returns an integer value as the result.
print(10 % 3)  # returns the remainder of the division.
print(10 ** 2) # returns a number raised to the power of another number.

12
8
20
5.0
5
1
100

In [5]:
# arithmetic calculations follow the BODMAS rule which is followed in mathematics for performing aritmetic calculations.
print(((3 + 4) * (11 - 5)) / (3 ** 2))
print((34 + 56 + 24) / 3)
print(18*7 - (8*6 + 5*9))

4.666666666666667
38.0
33

##### Variables in Python
- A variable is like a named location for storing data in the computer memory.
- One can think of a variable as a container that holds data & that data can be changed in a variable.
- In Python , we don't actually assign values to the variables, instead we give the reference of the object(i.e. value) to the variable.

In [7]:
# we can assign value pertaining to any data type to a variable i.e. integer, float, bool, string, list, set, tuple, dictionary.
# we can check the data type of the value stored in a variable by using the type() function.

my_int = 10
print(my_int)
print(type(my_int))

my_float = 4.5
print(my_float)
print(type(my_float))

my_bool = True
print(my_bool)
print(type(my_bool))

my_str = "Hello"
print(my_str)
print(type(my_str))

my_list = [1, 2, 3, 4]
print(my_list)
print(type(my_list))

my_tup = (1, 2, 3)
print(my_tup)
print(type(my_tup))

my_dict = {"Name" : "Rahul", "Age" : 37}
print(my_dict)
print(type(my_dict))

my_set = {1, 2, 3, 4}
print(my_set)
print(type(my_set))

10
<class 'int'>
4.5
<class 'float'>
True
<class 'bool'>
Hello
<class 'str'>
[1, 2, 3, 4]
<class 'list'>
(1, 2, 3)
<class 'tuple'>
{'Name': 'Rahul', 'Age': 37}
<class 'dict'>
{1, 2, 3, 4}
<class 'set'>

In [8]:
# we can change the value that is assigned to a variable.
website = "apple.com"
print(website)

website = "samsung.com"
print(website)

apple.com
samsung.com

In [9]:
# we can also assign multiple values to multiple variables at once.
x, y, z = 10, 8.7, "Hello"
print(x)
print(y)
print(z)

10
8.7
Hello

In [10]:
# we can also assign same value to multiple variables at once.
x = y = z = "Hello"
print(x)
print(y)
print(z)

Hello
Hello
Hello

In [12]:
# we can also perform various arithmetic operations with variables.
x = 10
y = 3

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)
print(x % y)
print(x ** y)

13
7
30
3.3333333333333335
3
1
1000

##### Rules for naming variables
- Variable names should have combination of letters in uppercase (A-Z) or lowercase (a-z) or digits(0-9) or an underscore(_).
- A variable should be representative of the data it is assigned to eg: *country_population = 23000000*, clearly this variable represents the population of a coumtry.
- never use special symbol like !, @, #, $, % etc & also don't start a variable with a digit. eg: *1_variable* is an invalid variable name while *variable_1* is a valid one.
- In case a variable name contains two or more words , use underscore to separate them, this format is known as snake case. eg: *my_name, my_country_pop*.
- There are certain reserved keywords in Python which cannot be used whiule naming a variable.

In [23]:
# in order to get the list of keywords reserved in Python.
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

##### Assignment Operators
- the most common assignment operators include =, +=, -=, *=, /=, %=, //=, **= .

In [15]:
# here are examples demonstrating the usage of each of them.
x = 10
print(x)

x = 10
x += 2 # same as x = x + 2.
print(x)

x = 10
x -= 2 # same as x = x - 2.
print(x)

x = 10
x *= 2 # same as x = x * 2.
print(x)

x = 11
x /= 2 # same as x = x / 2.
print(x)

x = 11
x //= 2 # same as x = x // 2.
print(x)

x = 11
x %= 2 # same as x = x % 2.
print(x)

x = 10
x **= 2 # same as x = x ** 2.
print(x)

10
12
8
20
5.5
5
1
100

##### Comparison Operators
- These are used to compare between two values & returns True if the condition is met or False if the condition is not met.
- The various used compariosn operators are : **less than (<), greater than (>), less than or equal to (<=), greater than or equal to (>=), equal to (==), not equal to (!=)**.

In [17]:
# here are examples demonstrating the usage of each of them.
x = 12
y = 15

print(x < y)
print(x > y)
print(x <= y)
print(x >= y)
print(x == y) # note that equal to operator uses double equal to == as = refers to the assigment operator.
print(x != y)

True
False
True
False
False
True

##### Logical Operators
- Logical operators also return True or False based on a combination of two conditions.
_ The various logical operators are : **and , or, not**.

In [22]:
# and : Evaluates to True if all the provided conditions are True, otherwise will return False.
x = 12
y = 15
print((x < y) and (x!=y))

# or : Evaluates to True if either one the provided conditions is True, otherwise will return False.
print((x > y) or (x!=y))

# not : Evaluates to True of the provided conditions are False & vice-versa.
print(not((x > y) or (x!=y)))
print(not((x > y) and (x!=y)))

True
True
False
True

##### Type Conversion
- We can convert between different data types  by using various type conversion functions like int(), float(), str() etc.

In [25]:
# here are some examples of type conversion.
x = float(50)
print(x)
print(type(x))

x = int(13.6)
print(x)
print(type(x))

x = float("5.5")
print(x)
print(type(x))

x = str(35)
print(x)
print(type(x))

x = int("45")
print(x)
print(type(x))

50.0
<class 'float'>
13
<class 'int'>
5.5
<class 'float'>
35
<class 'str'>
45
<class 'int'>

In [29]:
# we can also convert one sequence data type to another one.
x = set([10, 20, 30])
print(x)
print(type(x))

x = tuple({50, 60, 70})
print(x)
print(type(x))

x = list("Rahul")
print(x)
print(type(x))

x = dict([[1, 2], [4, 5]])
print(x)
print(type(x))

x = dict([(10, 20), (30, 40)])
print(x)
print(type(x))

{10, 20, 30}
<class 'set'>
(50, 60, 70)
<class 'tuple'>
['R', 'a', 'h', 'u', 'l']
<class 'list'>
{1: 2, 4: 5}
<class 'dict'>
{10: 20, 30: 40}
<class 'dict'>

In [31]:
# There are instances where Python automatically converts one data type to another data type.
# here's an example.
num_1 = 450
num_2 = 4.5
new_num = num_1 + num_2 # here num_1 which was of integer data type is converted into float data type in order to perform the addition operation.
print(new_num)
print(type(new_num))

# However there will be instances where we have to explicitly perform the type conversion.
# here's an example.
my_num = 457
my_str = "234"
# result = my_num + my_str --> now if we straight excute this code then Python will throw a type error.
result = my_num + int(my_str)
print(result)
print(type(result))

454.5
<class 'float'>
691
<class 'int'>

##### User Input
- In order to allow flexibility, sometimes the input is taken from the user & in Python we have input() function for this purpose.
- By default Python interprets the input given by the user as a string, so we need to use type conversion functions along with input() to convert the data type.

In [32]:
# here are a few examples to demonstrate this.
x = input("Enter your First Name:")
y = input("Enter your Last Name:")
result = x + " " + y
print("The Full Name is:", result)

The Full Name is: Rahul Arora

In [37]:
# in order to see result having specific data type.
x = int(input("Enter the value of x:"))
y = int(input("Enter the value of y:"))
result = x + y
print("The result is:", result)
print(type(result))

# let us see another example.
x = float(input("Enter the value of x:"))
y = float(input("Enter the value of y:"))
result = x * y
print("The result is:", result)
print(type(result))

The result is: 15
<class 'int'>
The result is: 30.150000000000002
<class 'float'>